{% extends 'core/base.html' %}

{% block title %}Strategyx CRM{% endblock %}

{% block content %}
    <div class="container ">
        <h1 class="section-heading text-xl text-center">Welcome to Strategyx</h1><br>
        <div class=>
        
            <div class="section-1 px-4 py-4">
                
                <p> Strategyx is a powerful CRM (Customer Relationship Management) platform that helps businesses streamline their customer interactions and drive growth. Our innovative solution provides a centralized hub for managing leads, contacts, sales, and customer support.</p>
            </div>
            <div class="section-2 px-4 py-4">
                <h1 class="section-heading text-center text-xl">The problem we solve</h1>
                <div class="card">
                    <p><strong>Fragmented Customer Data</strong>, Businesses often struggle with customer information spread across multiple systems, making it difficult to get a comprehensive view of each customer.</p>
                </div>
            </div>
            <div class="section-3 px-4 py-4">
                <h1 class="section-heading text-xl text-center">Our Unique solution</h1>
                <p class="text-center" >Through a centralised platform, Strategyx consolidates all customer data and interactions into a single, intuitive interface, providing a 360-degree view of each customer.</p>
                <p>Work in a Team? Great! The platform also allows management of teams, team members and asigning customer's to a team member to foster clear communication and ensure clarity.</p>
            </div>
        </div>
    </div>
{% endblock %}